<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Realizar Test</title>
    <link rel="stylesheet" href="examen.component.scss">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
      <nav class="navbar">
        <div class="logo-container">
          <span class="logo-text">Bienvenido, {{ firstname }}</span>
        </div>
        <!-- Navegación -->
        <ul class="nav-links">
          <li><a href="/inicio">Inicio</a></li>
          <li><a href="/inicio">Mi perfil</a></li>
          <li><a href="/login" (click)="cerrarSesion()">Cerrar sesión</a></li>
          
        </ul>
      </nav>
    </header>

    <main>
      <section class="tarjeta">
        <h2>Preguntas Tipo Test</h2>
        <form id="test-form" (submit)="enviarExamen($event)">
          <div *ngFor="let pregunta of preguntas; let i = index" class="pregunta">
            <h3>{{ i + 1 }}. {{ pregunta.pregunta }}</h3>
            <div *ngFor="let respuesta of pregunta.respuestas; let j = index">
              <label>
                <input type="checkbox" [value]="j" [name]="'pregunta' + i" />
                {{ respuesta }}
              </label>
            </div>
          </div>
          <button type="submit">Enviar Test</button>
        </form>
      </section>
    </main>
    
      

    <footer>
        <p>&copy; 2025 TFG - Todos los derechos reservados</p>
    </footer>
</body>
</html>
