<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contenido del Test</title>
    <link rel="stylesheet" href="test.component.scss">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
          <div class="logo-container">
            <span class="logo-text">Bienvenido, {{ firstname }}</span>
          </div>
          <!-- Navegación -->
          <ul class="nav-links">
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/inicio">Mi perfil</a></li>
            <li><a href="/login" (click)="cerrarSesion()">Cerrar sesión</a></li>
            
          </ul>
        </nav>
      </header>
    
    <main>
        <!-- Contenedor de cuenta regresiva -->
        <section class="tarjeta cuenta-regresiva">
            <h2>Tiempo restante: <span id="tiempo">{{ minutos }}:{{ segundos }}</span></h2>
        </section>
        
        <!-- Contenedor del test -->
        <section class="tarjeta">
            <h2>{{ fileName }}</h2>
            <div class="contenido-test">
                <iframe [src]="pdfUrl" width="100%" height="800px"></iframe>
            </div>
            <!-- Botón para ir al examen -->
            <button class="testbutton" (click)="confirmarIrAExamen()">Ir al examen</button>
        </section>
    </main>
   

    
    <footer>
        <p>&copy; 2025 TFG - Todos los derechos reservados</p>
    </footer>
</body>
</html>
