<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Página de Inicio del Usuario</title>
    <link rel="stylesheet" href="paginainicio.component.scss">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
      <nav class="navbar">
        <div class="logo-container">
          <span class="logo-text">Bienvenido, {{ firstname }}</span>
        </div>
        <!-- Navegación -->
        <ul class="nav-links">
          <li><a href="/inicio">Inicio</a></li>
          <li><a href="/inicio">Mi perfil</a></li>
          <li><a href="/login" (click)="cerrarSesion()">Cerrar sesión</a></li>
          
        </ul>
      </nav>
    </header>
    

    <main>
        <section class="tarjeta">
            <h2>Test por Realizar</h2>
            <div class="test-count">
                <p>Tienes <span id="test-pendientes">{{ fileCount }}</span> tests por hacer</p>
                <button (click)="irAPaginaTests()">Ver Tests</button>
            </div>
        </section>

        <section class="tarjeta">
            <h2>Resultados de Test Anteriores</h2>
            <div class="resultados-anteriores">
              <!-- Iteración sobre los resultados -->
              <div
                class="resultado"
                *ngFor="let resultado of resultados"
              >
                <p>{{ resultado.nombre }}</p>
                <div class="barra">
                  <div
                    class="progreso"
                    [style.width.%]="resultado.progreso"
                  ></div>
                </div>
                <span class="porcentaje">{{ resultado.progreso }}%</span>
              </div>
              <button onclick="location.href='#';">Ver Resultados Completos</button>
            </div>
          </section>
        
    </main>

    <footer>
        <p>&copy; 2025 TFG - Todos los derechos reservados</p>
    </footer>
</body>
</html>
